{% extends 'index.html' %}

{% block content %}
<div class="home-content">
    <h2>Bienvenido a Nuestra Aplicación de Predicción
        la cual examina patrones de votación en el Congreso de EE. UU. de 1984 y su relación con elecciones estudiantiles, empleando la metodología CRISP-DM. Se investiga cómo los estudiantes eligen representantes de grupo, encontrando paralelos con la política nacional. El análisis exploratorio revela tendencias y factores influyentes en ambos contextos, proporcionando una comprensión más profunda de los procesos electorales.
    </h2>
    <p>Para comenzar con la predicción, por favor llena el siguiente formulario.</p>
    <a href="/formulario" class="btn">Ir al Formulario</a>
</div>
{% endblock %}

